
.gris{
    background-color: gray;
    width: 800px;
}
.cuerpo0{
   
}
.cuerpo1{
    color:rgb(18, 18, 190);
 
  
}
.cuerpo2{
    background-color: rgba(4, 0, 255, 0.349);
    color:blue;
    width: 800px;
    text-align: center;
}